* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
}

.section-title {
    font-family: 'Pirata One', sans-serif;
    text-transform: uppercase;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover, .nav-cardapio .nav-link.active:hover {
    color: #fff;
}

#cabecalho .nav .nav-link:hover {
    color: #da3a3a;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #000;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #da3a3a;
}

.image-adjust {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%; /* Define a largura máxima em relação ao contêiner pai */
    max-height: 230px; /* Define a altura máxima desejada */
}



.image-card {
    height: 200px;
    width: 180px;
    overflow: hidden;
}